<footer class="footer -type-1">
    <div class="container">
        <div class="pt-60 pb-60">
            <div class="row y-gap-40 justify-between xl:justify-start">
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <h5 class="text-16 fw-500 mb-30">Contact Us</h5>
                </div>

                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <h5 class="text-16 fw-500 mb-30">Company</h5>
                </div>

                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <h5 class="text-16 fw-500 mb-30">Support</h5>
                </div>

                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <h5 class="text-16 fw-500 mb-30">Other Services</h5>
                </div>
            </div>
        </div>

        <div class="py-20 border-top-light">
            <div class="row justify-between items-center y-gap-10">
                <div class="col-auto">
                    <div class="row x-gap-30 y-gap-10">
                        <div class="col-auto">
                            <div class="d-flex items-center">
                                © 2022 GoTrip LLC All rights reserved.
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="d-flex x-gap-15">
                                <a href="#">Privacy</a>
                                <a href="#">Terms</a>
                                <a href="#">Site Map</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="row y-gap-10 items-center">
                        <div class="col-auto">
                            <div class="d-flex items-center">
                                <button class="d-flex items-center text-14 fw-500 text-dark-1 mr-10">
                                    <i class="icon-globe text-16 mr-10"></i>
                                    <span class="underline">English (US)</span>
                                </button>

                                <button class="d-flex items-center text-14 fw-500 text-dark-1">
                                    <i class="icon-usd text-16 mr-10"></i>
                                    <span class="underline">USD</span>
                                </button>
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="d-flex x-gap-20 items-center">
                                <a href="#"><i class="icon-facebook text-14"></i></a>
                                <a href="#"><i class="icon-twitter text-14"></i></a>
                                <a href="#"><i class="icon-instagram text-14"></i></a>
                                <a href="#"><i class="icon-linkedin text-14"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</main>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/datatable.js"></script>
{#datatable#}
<script src="https://cdn.datatables.net/v/dt/dt-2.1.8/r-3.0.3/sc-2.4.3/sb-1.8.1/sp-2.3.3/datatables.min.js"></script>
<script src="/assets/js/vendor.min.js"></script>

<script src="/assets/libs/morris-js/morris.min.js"></script>
<script src="/assets/libs/raphael/raphael.min.js"></script>

<script src="/assets/js/pages/dashboard.init.js"></script>
<script src="/assets/js/a.js"></script>

<!-- App js -->
<script src="/assets/js/app.min.js"></script>
<!-- JavaScript -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script>
<script src="../../../unpkg.com/%40googlemaps/markerclusterer%402.5.3/dist/index.min.js"></script>

<script src="/assets/js/web/vendors.js"></script>
<script src="/assets/js/web/main.js"></script>
</body>


<!-- Mirrored from creativelayers.net/themes/gotrip-html/hotel-list-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Nov 2024 14:28:00 GMT -->
</html>