{% extends 'layouts/main.twig' %}

{% block content %}
    <div class="content-page">
        <div class="content">

            <!-- Start container-fluid -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div>
                            <h4 class="header-title mb-3">Thêm Tài Khoản mới</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form method="post" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Name</label>
                            <div class="col-md-10">
                                <input name="name" type="text" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Phone Number</label>
                            <div class="col-md-10">
                                <input name="phone_number" type="text" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Email</label>
                            <div class="col-md-10">
                                <input name="email" type="text" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Address</label>
                            <div class="col-md-10">
                                <input name="address" type="text" class="form-control" value="" required>
                            </div>
                        </div><div class="form-group row">
                            <label class="col-md-2 col-form-label">Password</label>
                            <div class="col-md-10">
                                <input name="password" type="text" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary me-2">Thêm mới</button>
                            <a href="/admin/account" class="btn btn-secondary">Hủy</a>
                        </div>

                    </form>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->

    </div>
    <!-- end content -->
{% endblock %}